.project-img-container {
  border-radius: 10px;
}

.project-container {
  display: flex;
  flex-flow: row wrap;
  width: 95vw;
  justify-content: space-evenly;
}

.project-container article {
  width: 500px;
  height: auto;
  padding: 1rem;
}

.project-container img {
  width: 100%;
  height: auto;
  aspect-ratio: attr(width)/attr(height);
  border-radius: 8px;
}

.span-right {
  float: right;
}

.span-left {
  float: left;
}